.App {
  text-align: center;
}

.purple-button {
  margin: auto;
  /* margin-bottom: 1rem; */
  background-color: purple;
  border-radius: 2rem;
  border: none;
  height: 3rem;
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 1rem;
  background-color: #a5b9e4;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header.flash {
  background-color: #00cb9f;
}
.App-header-container {
  border-bottom: solid #fff 1px;
  width: 800px;
  margin: auto;
  padding-bottom: 1rem;
}

.App-link {
  color: #61dafb;
}

.main-img {
  max-height: 150px;
  max-width: 350px
}

.home-hr {
  width: 60%;
  text-align: center;
  margin-bottom: 1rem;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}